@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
:root{ 
    --background: #0E2434;
    --gold  : #907344;
    --blue : #1F5D73;        
}

*{
    
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin : 0px;
    background-color: var(--background);
    color : white;
}

header{
    margin-top: 2%;
    position: sticky;
    background-repeat: no-repeat;
    height : 4em;
    width : 100%;
    display: flex;
    background-size: 8em;
    background-position-x: 20px;
    background-color: var(--blue);
    border-width: medium;
    border-color: var(--gold);
    border-style: solid;
}

.ulnav{
    display :flex;
    justify-content: space-evenly;
    width : 80%;
    margin-top : 0;
    margin-bottom: 0;
    list-style-type: none;
}

.circle {
    height: 110px;
    position: relative;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-position:center center ;
    background-size:contain;
    background-color: rgb(255, 255, 255, 0.95);
    width: 110px;
    min-width: 110px;
    left:3%;
    bottom: 1.5em;
    border-width: medium;
    border-style: solid;
    border-color: var(--gold);
    border-radius: 50%;  
}

header li {
    height : 100%;
    width : 150px;

}

li button{
    width: 100%;
    color : white;
    height: 100%;
    background-color: var(--blue);
    border: none;
    font-size: x-large;
    
}

li button:hover{
    background-color: white;
    color : black
}

.mid{
    background-image: url('images/su.png');
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2%;
    width : 100%;
    height : 830px;
    background-color: #051a22;
    border-style: ridge;
    border-width: medium;
    border-color: var(--gold);
    border-radius: 1%;
}

.middiv{
    height: 40%;
    width: 40%;
    margin: auto;
    min-width: 500px;
    max-width: 700px;
    background-image: url('images/league.png');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 80%;
    background-position: center;
}

.middiv2{
    margin-top : 2%;
    margin-bottom: 2%;
    height: 60%;
    width: 101%;
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
}

.pop{
    background-color: var(--blue);
    text-align: center;
    border-radius: 7%;
    margin-bottom: 5vh;
    border-color: var(--gold);
    border-style: solid;
    border-width: medium;
    height : 70%;
    width : 19%;
    min-width: 270px;
    text-overflow: ellipsis;
    font-size: 1.10em;
}

.pop hr{
    border-color: var(--gold);
    border-style: ridge;
}


.lower{
    background-image: url("images/su.png");
    background-position: center;
    width : 100%;
    margin : auto;
    height : auto;
    background-color: #051a22;
    border-style: ridge;
    border-width: medium;
    border-color: var(--gold);
    border-top: none;
    border-radius: 1%;
    font-size: 30px;
    text-align: center;
}

.lower img{
    transform :  scale(1,1) translate(-0%, -50%);
    max-width: 100%;
    min-height: 75px;
}

.centered {
    transform: translateY(-4em);
}  

.tframe {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.teams{
    font-size: 0.90em;
    min-width: 235px;
    border-style: solid;
    border-width: medium;
    border-color: var(--gold);
    text-align: left;
    height : 400px;
    border-radius: 1%;
    width : 16%;
    background-color: var(--background);
}

.teams hr{
    border-color: var(--gold);
    border-style: ridge;
}

footer {
    align-items: center;
    position : relative;
    height : 50px;
    background-color: var(--blue);
}

footer button{
    width: 100%;
    color : white;
    height: 100%;
    margin : auto;
    background-color: var(--blue);
    border: none;
    font-size: x-large;
    
}

footer button:hover{
    background-color: white;
    color : black
}